*.bak-mo
*.mat
*.mof
*.h
*.c
*.o
*.makefile
*.json
*.xml
buildlog.txt
dsfinal.txt
dsin.txt
dslog.txt
dsmodel.c
dsmodelext[0-9].c
dsmodelext[0-9].obj
dsres.txt
dymosim.exe
dymosim.exp
dymosim.lib
empty.txt
request
stat
status
stop
simulator.log
unitTests.log